<!doctype html>

<html>
    <head>

    </head>
    <body>
        <table>
            <thead>
                <th>Name</th>
                <th>Price each</th>
                <th>Quantity</th>
                <th>Total item</th>
                <th>Remove item</th>

            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>