@model MVCEcommerce.Models.Entities.Order


<html>
    <head>

    </head>
    <body>
    <table border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th colspan="2">Your Order Details</th>
        </tr>
        <tr>
            <td><strong>Product name:</strong></td>
            <td>@Model.ProductName</td>
        </tr>
        <tr>
            <td><strong>Quantity:</strong></td>
            <td>@Model.Quantity</td>
        </tr>
        <tr>
            <td><strong>Total Price:</strong></td>
            <td>@Model.TotalPrice</td>
        </tr>
        <tr>
            <td><strong>Order Date:</strong></td>
            <td>@Model.OrderDate</td>
        </tr>
    </table>

    </body>
</html>